/* font-family: 'Carter One', cursive;*/
/*font-family: 'Dosis', sans-serif; */
.card {
  width: 19em;
  margin:.5em;
   background:rgba(165, 50, 4, 0.377);
   max-height:12em;
}
.card:hover{
  box-shadow: 10px 10px 5px rgba(68, 64, 64, 0.623);
  animation:bump .4s;
}
.card-title{
   font-family: 'Dosis', sans-serif;
}
.card-reveal{
  background-color: rgba(20, 19, 19);
  color:whitesmoke
}
.fa-window-close{
  float:right;
  color:red;
}
p{
  font-family:arial;
}
.card-topper{
  text-align: center;
  font-family: 'Carter One', cursive;
 
}
@keyframes bump {
	0%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	50% {
    		-webkit-transform: translate(-5px,-5px);
    transform: translate(-5px,-5px); 
		
	}
}

@media screen and (max-width: 600px) {
  .card{
    width:100%;
    max-height:20em;
  }
}