/* font-family: 'Carter One', cursive;*/
/*font-family: 'Dosis', sans-serif; */
.card {
  float:left;
  width: 19em;
  margin:.5em;
  margin-bottom:1.25em;
  background:rgba(5, 5, 4, 0.377);
  max-height:12em;
  border-radius: 25px;
  
}
.card:hover{
  animation: bump .6s;
  border-radius: 30px;
}
.card-title{
   font-family: 'Dosis', sans-serif;
}
.card .card-reveal{
  background-color: rgb(4, 73, 82);
  color:black;
  /* padding-top:0.5em; */
}
img{
  border-radius: 0px 0px 25px 25px;
}
a{
  color:black;
}
a:hover{
  color:White;
}
.closing-button{
  position:fixed;
  float:right;
  right: .5em;
  top:.3em;
  color:red;
}
p{
  font-family:arial;
}
.card-topper{
  text-align: center;
  font-family: 'Carter One', cursive;
 
}
@keyframes bump {
	0%, 33%, 75%, 100% {
		-webkit-transform: translate(0);
		transform: translate(0);
	}
	14% {
    		-webkit-transform: translateY(-5px);
    transform: translateY(-5px); 
  }
  45% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px); 
  }
  90% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px); 
  }
}

@media screen and (max-width: 600px) {
  .card{
    width:100%;
    max-height:20em;
  }
}