body{
  background-image: url("/portfolio-images/ryan-hutton-37733-unsplash.jpg");
  background-attachment: fixed;
  background-size: 120%;
}

.App {
  text-align: center;
  font-family: 'Carter One', cursive;
  color:rgb(238, 228, 228)
/* font-family: 'Dosis', sans-serif; */
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.center{
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 25px 0 50px;
  justify-content: space-around;
  align-content: flex-start;
}
@media screen and (max-width: 600px) {
  body{
    background-image: url("/portfolio-images/nick-ilyasov-782288-unsplash.jpg");
  }
}
