body {
  
  background-color:rgb(59, 59, 59);
  background-image: url("./backgrounds/ryan-hutton-37733-unsplash.jpg");
  background-attachment: fixed;
  background-size: 120%;
  margin: 0;
  padding: 0;
  
}
@media screen and (max-width: 600px) {
  body{
    background-image: url("./backgrounds/nick-ilyasov-782288-unsplash.jpg");
  }
}
